*{
    margin:0;
    padding: 0;
    box-sizing:border-box;
  }
  
  .enlace{
    display: block;
    background-color: tomato;
    color: white;
    text-decoration: none;
    padding: 20px;
    border-bottom: 3px solid white;
    text-align: center;
    font-size: 22px;
  }
  
  .enlace:link{
    background-color: blue;
    border-bottom: black;
    border-bottom: 3px solid #1a1a1d;
  }
  
  .enlace:visited{
    background-color: crimson;
  }
  .enlace:hover{
    background-color: white;
    color: black;
  }
  .enlace:active{
    background-color: red;
  }
  
  .event{
    display: inline-block;
    margin-top: 30px;
    margin-left: 20px;
    background-color: crimson;
    color: white;
    text-decoration: none;
    padding: 20px;
  }
  
  .event:active{
    background-color: skyblue;
  }
  
  .box{
    width: 200px;
    height: 200px;
    background-color: blue;
    border-radius: 50%;
    margin: 0 auto;
    transition: 1s;
  }
  
  #objetivo:target{
    border-radius: 0;
  }
  /* 
  Para el formulario
   */
  
  .form{
    width: 60%;
    margin: 30px auto;
    background-color: #f2f2f2;
    box-shadow: 0 0 5px rgba(0 ,0,0,0.5);
    padding: 30px;
  }
  
  .form_title{
    text-align: center;
    margin-bottom: 20px;
  }
  input{
    display: block;
  
  }
  input[type="text"],
  input[type="email"]{
    width: 100%;
    padding: 12px 5px;
    margin-bottom: 20px;
    border: none;
    outline: none;
  }
  
  input[type="checkbox"]{
    display: inline-block;
  }
  
  input:focus{
    background-color: burlywood;
    color: black;
  }
  
  input[type="checkbox"]:checked+label{
    color: red;
  }
  form:focus-within{
    background-color: rgb(220, 215, 207);
  }
  
  
  h3{
    font-size: 2rem;
    font-weight: normal;
    font-family: arial;
    text-align: center;
    margin-top: 20px;
  }
  
  h3:not(.title):not(:hover){
    color: crimson;
  }